:root {
--color00: #00110b;
--color01: #00110b;
--color02: #00110b;
--color03: #e6f6f0;
--color04: #3E6650;
--color05: #e6f6f0;
--color06: #3E6650;
--color07: #3E6650;
--color08: #ff3370;
--color09: #D1FFb0;
--color0A: #D1FFb0;
--color0B: #00a86b;
--color0C: #80d4b5;
--color0D: #FF6600;
--color0E: #8fc85c;
--color0F: #ff3370;
}
